@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima/proximanova-regular-webfont.woff2') format('woff2'),
         url('../fonts/proxima/proximanova-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proxima/proximanova-bold-webfont.woff2') format('woff2'),
         url('../fonts/proxima/proximanova-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

* {
    box-sizing: border-box;
}